#root {
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
  display:flex;
  flex-direction: row;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

main{
  padding-bottom: 1000px;;
  background-color: aqua;
  flex-grow: 1;
}

.side-bar-container {
  height: 100vh;
  position:sticky;
  top: 0px;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  gap:10px;
  background-color: red;
  
}